/* .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

body {
  min-height: 200vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

.header__logo {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header__logo img{
  position: relative;
  width: 150px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__link {
    position: relative;
    font-size: 12px;
    margin: 0 15px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    cursor: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    text-decoration:none;
}

.header__link {
  position: relative;
  margin: 0 15px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.header.sticky {
  padding: 5px 100px;
  background: #fff;
}

.header.sticky .header__link {
  color: #000;
}

.header.sticky .header__logo {
  color: #000;
}

.header.sticky a.menuH {
    color: #000;
  }

  a.menuH {
    color: white;
    font-size: 12px;

}

.iconWhite {
  display: block!important;
}

.iconBlack {
  display: none!important;
}

.header.sticky .iconWhite {
  display: none!important;
}

.header.sticky .iconBlack {
  display: block!important;
}


.banner {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  }



.header__list img {
    width: 14px;
    text-decoration: none;
}

.header__list a {
    text-decoration: none;
}

li.header__list {
    display: flex;
}

img#closeIcon {
  width: 30px;
}




/* off-screen-menu */
.off-screen-menu {
  background-color:  rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  transition: .3s ease;
}
.off-screen-menu.active {
  right: 0;
}


.off-screen-menu ul{
  text-decoration: none;
  color: black;
  list-style-type : none;
  text-align: justify;

}

.off-screen-menu li{
  text-decoration: none;
  color: black;
}

.off-screen-menu a{
  text-decoration: none;
  color: black;
}


/* off-screen-search */
.off-screen-search {
  background-color:  rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  transition: .3s ease;
}
.off-screen-search.active {
  right: 0;
}


.off-screen-search ul{
  text-decoration: none;
  color: black;
  list-style-type : none;
  text-align: justify;

}

.off-screen-search li{
  text-decoration: none;
  color: black;
}

.off-screen-search a{
  text-decoration: none;
  color: black;
}




/* nav */
nav {
  display: flex;
}



/* ham menu */
.ham-menu {
  height: 20px;
  width: 20px;
  margin-left: auto;
  position: relative;
}
.ham-menu span {
  height: 2px;
  width: 89%;
  background-color: #ffffff;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}

.header.sticky .ham-menu span {
  background-color: #000000;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: rgb(0, 0, 0);
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}


/* recherche */

.product-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-item img{
  width: 33.33%;
}

.product-item h2 {
  width: 33.33%;
  font-size: 20px;
  font-weight: 300;
  margin-left: 30px;
  margin-right: 30px;
  
}

.product-item p {
  width: 33.33%;
  
}


.off-screen-search.active button[type="submit"] {
  background-color: transparent;
  border: none;
}

.off-screen-search button[type="submit"] img {
  width: 14px;
  cursor: pointer;

}

.off-screen-search.active input[type="search"] {
  border: none;
  border-bottom: 1px solid black;
  width: 300px;
}


.off-screen-search.active form {
  margin-bottom: 20px;
}


/* index block games */

.blockGame{
  width: 50%;
  height: 100%;
  height: auto;
  margin: 10px;

}

.blockGameindex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.blockGame1{
  width: 100%;
  height: 100%;
  height: auto;
  margin: 10px;

}

.blockGame1 {
  margin-top: -76px !important;
  width: auto; 
  height: 100%;
  height: auto;
  margin: 20px;
}

.btnName {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -120px;
}

#background-video2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.btnName p {
  font-size: 23px;
  color: black;
  font-weight: 300;
}


.btnName a {
  text-decoration: none;
  color: black;
  border: 1px solid #000000;
  background: #bfbfbf9c;
  padding: 10px;
  transition: 0.6s;
}

.btnName a:hover {
  text-decoration: none;
  color: black;
  border: 1px solid #000000;
  background: #ffffff9c;
  transition: 0.6s;
}


.qdn p {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color: black;
  font-weight: 500;
}

.qdnBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 250px;
  margin-top: 102px;
}

.quoi {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* column-gap: 50px; */
}

.de {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.de img {
  width: 80%;
}

.neufs {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.neufs h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 400;
}

.neufs p {
  width: 80%;
  text-align: center;
  margin-bottom: 50px;
  font-size: 14px;
}

.neufs a {
  color: black;
  border-bottom: 1px solid black;
  transition: 0.6s;
}

.neufs a:hover {
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: 0.6s;

}


span {
  content: '';
}

.lignenoir {
  background: black;
  width: 200px;
  height: 3px;
}

.ligne {
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}



.services {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 300px;
  margin-bottom: 400px;
  margin-top: 100px;
}.textServices {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}.textServices h2 {
  font-size: 3rem;
  font-weight: 200;
}.videoServices {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.serviceName {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.serviceName p {
  text-align: center;
  font-size: 14px;
}
.blockservice {
  width: 100%;
  height: 500px;
}


.serviceName a {
  color: black;
  border-bottom: 1px solid black;
  transition: 0.6s;
}

.serviceName a:hover {
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: 0.6s;

  
}

.serviceName h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 400;
}

footer {
  width: 100%;
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 50px;
  padding-bottom: 0;
}

.footerColumn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  column-gap: 300px;
}

.f {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* column-gap: 34px; */
}

.f p {
  color: #ffffff5c;
  font-size: 12px;
  margin-bottom: 20px;
}


.f a {
  color: #ffffffed;
  /* text-align: justify; */
  font-size: 12px;
  margin: 10px 0 10px 0;
  /* color: black; */
  border-bottom: 1px solid white;
  transition: 0.6s;
}

.f a:hover {
color: rgb(196, 196, 196);
border-bottom: 1px solid rgb(0, 0, 0);
transition: 0.6s;
}

.logoF img {
  width: 500px;
}


/* responsive accueille */


@media (max-width:1660px) {
  .qdnBlock{
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .services{
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width:1470px) {
  .qdnBlock{
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .services{
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width:1200px) {
  .qdnBlock{
    margin-left: 0;
    margin-right: 40px;
  }
  
  .services{
    margin-left: 40px;
    margin-right: 50px;
  }

  #background-video2 {
    height: 80%;
    width: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.footerColumn {
  column-gap: 200px;
}
.serviceName h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
}

@media (max-width:1000px) {
  #background-video2 {
    height: 65%;}

    .footerColumn {
      column-gap: 100px;
    }
}

@media (max-width:800px) {

  .quoi {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* column-gap: 50px; */


}

.blockGame {
  width: 90%;
  height: 100%;
  height: auto;
  margin: 10px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.blockGameindex {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}

.blockGame:nth-child(2){
  margin-top: -55px;
}

.de {
  width: 100%;
}

.qdnBlock {
  margin-left: 0;
  margin-right: 0;
}

.neufs {
  width: 100%;
  margin-top: 100px;
}

#background-video2 {
  height: 50%;
}

.videoServices {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.services{
  margin-bottom: 100px;
}

.blockservice {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.textServices h2{
text-align: center;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  column-gap: 300px;
}

.f {
  margin: 20px 0 20px 0;
}

.header{
  padding: 40px 40px;
  padding-right: 50px;
}

.header.sticky {
  padding: 10px 40px;
  padding-right: 50px;
}

.gauche {
  display: none;
}



}


@media (max-width:600px) {

.banner{
  display: none;
}
}


/* page produit  */

img.bd-placeholder-img.card-img-top {
  width: 100%;
}

.card.shadow-sm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.colB {
  width: 25%;
  border: 1px solid #cccccc;
}

.Allproduct {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.d-flex.justify-content-between.align-items-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

button.btn.btn-sm.btn-outline-secondary {
  background: transparent;
  border-bottom: 1px solid black !important;
  border: none;
}

.d-flex.justify-content-between.align-items-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}


/* Cachez le card-body par défaut */
.card-body {
  display: none;
  transition: 0.6s;
}

/* Affichez le card-body lorsque la souris est sur l'élément .col */
.col:hover .card-body {
  display: block;
  transition: 0.6s;
}

/* Assurez-vous que le card-body est correctement positionné */
.card-body {
  padding: 10px;
}

.d-flex.justify-content-between.align-items-center h4 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}